rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /article-images/{fileName} {
      allow read: if true;
      allow write: if request.auth != null
                   && request.auth.token.admin == true
                   && request.resource.size < 8 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}

